.payment-result {
    animation: slideout;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideout {
    to {
        transform: translateX(-100vw);
        opacity: 0%;
    }
}